section.hero
    .container
        .hero__text.hero__text
            h1.title.title_size_m.title_color_main.hero__title Be aware, Manage well.
            p.hero__parag Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.
            a.btn.btn_size_m.hero__btn(href="#") Find Your Way