section.product
    .container.product__container
        .product__img

        .inf.product__inf
            h4.inf__title Customized For
            .inf__ava
            span.inf__name Mikayla
            p.inf__desc Your custom contents
            ul.inf__list
                li.inf__item Understand Your Stress
                li.inf__item Anger Management

        .product__text
            span.overhead.product__overhead Our product
            h2.title.title_size_s.title_color_main.product__title You tell us your stress, We make your diary
            p.product__parag Everyone experiences it, and in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.
            a.btn.btn_size_m.product__btn(href="#") Find Your Way