section.steps
    .container
        .steps__text.steps__text
            span.overhead.steps__overhead How it works
            h2.title.title_size_s.title_color_main.steps__title Understand & Release the stress in 3 steps
            p.steps__parag Alivio offers as many journals it takes, tackling different areas such as anxiety, overwhelmedness, sadness, or anger, and a variety of personal causes, to help you become aware of your emotions, and guide you in how to manage stress.

        ul.cards.cards__list
            li.cards__item.anim.cards__item
                span.cards__num 01
                h3.cards__title Personalize
                p.cards__parag Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!
                .cards__img.cards__img_num_01
            li.cards__item.anim.cards__item
                span.cards__num 02
                h3.cards__title Write & Understand
                p.cards__parag Write, draw, reflect, understand. Alivio will guide you through the prompts and will help you manage your stress!
                .cards__img.cards__img_num_02
            li.cards__item.anim.cards__item
                span.cards__num 03
                h3.cards__title Alivio!
                p.cards__parag Now you are aware, and have a way to manage and overcome your own stress. What are you waiting for? Alivio today!
                .cards__img.cards__img_num_03
