section.steps
    .container
        .steps__text
            span.overhead.steps__overhead How it works
            h2.title.title_size_s.title_color_main.steps__title Understand & Release the stress in 3 steps
            p.steps__parag Alivio offers as many journals it takes, tackling different areas such as anxiety, overwhelmedness, sadness, or anger, and a variety of personal causes, to help you become aware of your emotions, and guide you in how to manage stress.