section.video
    .video__container
        .video__text
            h2.title.title_size_s.title_color_white.video__title Let's hear about Kayla's success story
            p.video__parag See how well Alivio works in a real customer’s life.
            a.btn.btn_size_m.video__btn(href="#") Let’s get started

        .play.video__play
            button.play__button.btn-reset
                svg.play__svg
                    use(xlink:href="img/sprite.svg#play")