footer.footer
    .container
        nav.nav.footer__nav
            ul.nav__list.nav__list_dir_col
                li.nav__item.nav__item_dir_col
                    a.nav__link.nav__link_color_white.footer__logo(href="#") Alivio
                li.nav__item.nav__item_dir_col
                    a.nav__link.nav__link_color_white(href="#") Why Alivio
                li.nav__item.nav__item_dir_col
                    a.nav__link.nav__link_color_white(href="#") Solution
                li.nav__item.nav__item_dir_col
                    a.nav__link.nav__link_color_white(href="#") Community
                li.nav__item.nav__item_dir_col
                    a.nav__link.nav__link_color_white(href="#") Pricing
