.hero {
    padding: 174px 0 335px;
    background-image: url("../img/hero__bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        max-width: 440px;
    }

    &__parag {
        margin-top: 34px;
        max-width: 420px;
        line-height: 28px;
    }

    &__btn {
        margin-top: 53px;
    }
}

.title {
    font-family: $secondFont;
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;

    &_color {
        &_main {
            color: $mainColor;
        }

        &_white {
            color: #fff;
        }
    }

    &_size {
        &_s {
            font-size: 50px;
        }

        &_m {
            font-size: 65px;
        }
    }
}